<div class="wrapper">
    <div class="wrapper-container">
        <div class="container-404">
            <h2 class="heading-h2">Oops! Pagina non trovata</h2>
            <p class="paragraph center">Siamo spiacenti, ma la pagina che stai cercando non esiste.</p>
                <div class="content-primary-button">
                  <a class="button-link-text" href="/">
                    <div class="content-button-text">
                     Torna alla Home Page
                    </div>
                    <div class="content-button-icon">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/arrow-right.png?v=1720508256"
                        alt=""
                        class="arrow-icon rotate">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/arrow-right.png?v=1720508256"
                        alt=""
                        class="arrow-icon rotate">
                    </div>
                  </a>
                </div>
        </div>
    </div>
</div>