  <!--section wrapper center text -->
  <div class="wrapper-section">
    <div class="wrapper-contents">
        <div class="content">
            <div class="container-center-text">
                <h2 class="heading-h2 light">Lavoriamo i nostri vigneti e rispettiamo il territorio generoso,
                    <i>«come
                        conseguenza di quello che dovrebbe essere ormai un “normale” approccio all’agricoltura,
                        poiché
                        non c’è motivo di fare diversamente»</i>
                </h2>
            </div>
        </div>
    </div>
</div>
<!--section wrapper center text -->