
<div class="wrapper-container">
    <div class="section-container">
        <div class="container-heading">
            <h1 class="policy-heading">Cookie Policy e Preferenze</h1>
        </div>
        <div class="container-paragraph">
            <p class="paragraph">Sul nostro sito web usiamo dei piccoli file chiamati cookie per rendere la tua esperienza di navigazione migliore. In particolare, i cookie ci aiutano a rendere il sito più facile, veloce e interattivo per te. Questa informativa spiega quali cookie usiamo e come puoi attivarli o disattivarli.</p>
            <p class="paragraph">Questa policy costituisce parte integrante della privacy policy generale, disponibile nella sezione “Privacy Policy” del nostro sito web di cui ti invitiamo a prendere visione.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">TITOLARE DEL TRATTAMENTO</h2>
            <p class="paragraph">Il Titolare del Trattamento è Agribel S.r.l., con sede legale in Avio (TN), Via del Lavoro n. 18. Il Titolare può essere contattato all’indirizzo <a class="a-link" href="mailto:data.protection@calzedonia.com">data.protection@calzedonia.com</a>.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">DEFINIZIONE</h2>
            <p class="paragraph">I cookie sono piccoli file di testo che il sito scrive sul tuo dispositivo. Grazie ai cookie, possiamo raccogliere informazioni sulla tua navigazione ed utilizzarle per rendere la tua esperienza online personalizzata o, semplicemente, più facile.</p>
            <p class="paragraph">Continuando a leggere scoprirai quali cookie utilizziamo, nel dettaglio, e come puoi disattivare alcuni di essi, se lo desideri.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">TIPOLOGIE DI COOKIE</h2>
            <p class="paragraph">Utilizziamo due tipi di cookie per il nostro sito web: i cookie “tecnici” e i cookie “di profilazione”.</p>
            <h2 class="heading-h2-secondary" style="text-decoration: underline;">1. Cookie tecnici:</h2>
            <p class="paragraph"><strong>Che cosa sono?</strong> Questi cookie rendono il nostro sito web facile da usare, aiutando a navigare e a consultare il nostro sito.</p>
            <p class="paragraph"><strong>Perché li utilizziamo?</strong> Senza questi cookie alcune parti del sito non sarebbero accessibili o risulterebbero difficili da usare. Per questo motivo non è necessario il tuo consenso al loro uso, non è possibile disattivarli e li installiamo in base al nostro Legittimo Interesse a garantire il corretto funzionamento della nostra pagina web.</p>
            <p class="paragraph"><strong>Che tipi di cookie tecnici esistono?</strong> Rientrano nei cookie tecnici:</p>
            <ul>
                <li>i cookie di funzionalità, utili a favorire una facile navigazione dell’utente sul sito (ad esempio, tenendo traccia della lingua preferita);</li>
                <li>i cookie analitici, che ci consentono di raccogliere informazioni di carattere statistico ed in forma anonima relativamente, ad esempio, al numero di visitatori e a come questi utilizzano il sito. Nel caso in cui tali informazioni non siano raccolte in forma aggregata e dunque sia possibile identificarti (grazie al tuo indirizzo IP), tali cookie si qualificano come “cookie di profilazione”, attivi solo previo tuo consenso.</li>
            </ul>
            <h2 class="heading-h2-secondary" style="text-decoration: underline;">2. Cookie di profilazione:</h2>
            <p class="paragraph"><strong>Che cosa sono?</strong> Questi cookie memorizzano informazioni sulle tue abitudini di navigazione, come ad esempio le pagine che visiti o gli articoli che hai messo nel carrello.</p>
            <p class="paragraph"><strong>Perché li utilizziamo?</strong> Usiamo queste informazioni per mostrarti contenuti personalizzati e pubblicità mirate, soltanto dopo che acconsentito espressamente al loro utilizzo.</p>
            <p class="paragraph"><strong>Che tipi di cookie di profilazione esistono?</strong> Possono essere proprietari (o di prima parte) e pertanto gestiti direttamente da noi oppure di proprietà dei nostri partner commerciali (di terza parte).</p>
            <p class="paragraph"><strong>Come abilitarli o disattivarli?</strong> Puoi abilitare o disabilitare i cookie di profilazione (prestando o revocando il tuo consenso) in qualsiasi momento, utilizzando il nostro configuratore o modificando le impostazioni del browser che stai utilizzando per visitare il nostro sito.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">ELENCO DEI COOKIE UTILIZZATI</h2>
            <ul>
                <li>Cookie tecnici</li>
                <li>Cookie di profilazione [XXX]</li>
            </ul>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">DURATA DEI COOKIE</h2>
            <p class="paragraph">In base alla durata dei cookie, è possibile distinguere fra:</p>
            <h2 class="heading-h2-secondary" style="text-decoration: underline;">1. Cookie temporanei (o di sessione):</h2>
            <p class="paragraph">Questi cookie memorizzano dati solo per il tempo in cui stai navigando sul sito. Sono utili per tenere traccia delle tue azioni ma non vengono conservati dopo che hai chiuso la pagina.</p>
            <h2 class="heading-h2-secondary" style="text-decoration: underline;">2. Cookie permanenti:</h2>
            <p class="paragraph">Questi cookie conservano dati anche dopo che hai chiuso il browser.</p>
            <p class="paragraph">Puoi conoscere la durata dei cookie consultando le tabelle contenute nel paragrafo “Elenco dei Cookie utilizzati”.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">DESTINATARI DEI DATI E TRASFERIMENTO</h2>
            <p class="paragraph">Le informazioni raccolte tramite i cookie vengono comunicate a:</p>
            <ul>
                <li>personale di Agribel S.r.l.;</li>
                <li>fornitori e consulenti, previa stipula di un contratto di nomina a responsabile del trattamento o di un contratto di contitolarità.</li>
            </ul>
            <p class="paragraph">I dati raccolti potrebbero essere trasferiti anche al di fuori dell’Unione Europea. In tal caso, il trasferimento avverrà previa adozione di adeguate garanzie ovvero verso paesi che adottano un livello di protezione dei dati analogo a quello europeo (e quindi destinatari di “decisioni di adeguatezza”) oppure previa stipula delle “Standard Contractual Clauses” adottate dalla Commissione Europea con decisione 2021/914.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">DIRITTI PRIVACY</h2>
            <p class="paragraph">Puoi esercitare i diritti che la legge ti garantisce riguardo i tuoi dati personali scrivendo a <a class="a-link" href="mailto:data.protection@calzedonia.com">data.protection@calzedonia.com</a>. Ci impegniamo a dare riscontro alla tua richiesta nel più breve tempo possibile e comunque non oltre il termine di 30 giorni dal ricevimento della tua segnalazione. In taluni casi, potremo richiederti dati aggiuntivi qualora, in relazione alla tua richiesta, si renda necessario verificare la tua identità.</p>
            <ul>
                <li><strong>Diritto di accesso:</strong> Hai il diritto di sapere se è in corso un trattamento di dati personali che ti riguardano e – se confermato - di ottenere una copia di tali dati ed essere informato su: l'origine dei dati; le categorie di dati personali trattate; i destinatari dei dati; le finalità del trattamento; l'esistenza di un processo decisionale automatizzato, compresa la profilazione; il periodo di conservazione dei dati; i diritti previsti dal Regolamento.</li>
                <li><strong>Diritto di rettifica:</strong> Hai il diritto di ottenere la rettifica dei dati in nostro possesso che ti riguardano o di integrare i dati che risultino incompleti.</li>
                <li><strong>Diritto di cancellazione:</strong> Hai il diritto di chiedere la cancellazione dei tuoi dati personali qualora non fossero più necessari per la finalità per la quale sono stati raccolti o qualora non fossimo più autorizzati a trattarli.</li>
                <li><strong>Diritto di limitazione di trattamento:</strong> Hai il diritto di ottenere la limitazione del trattamento nelle seguenti ipotesi:
                    <ul>
                        <li>hai contestato l’esattezza dei dati personali. Puoi richiedere la limitazione di trattamento per il periodo in cui provvederemo a verificare l’esattezza dei tuoi dati;</li>
                        <li>non siamo autorizzati a trattare i tuoi dati e, invece che cancellarli, puoi richiederci di limitarne l’utilizzo;</li>
                        <li>qualora i dati di cui siamo in possesso – ancorché non siano più necessari per noi ai fini del trattamento per il quale sono stati raccolti – siano per te necessari per l’accertamento, l’esercizio o la difesa di un diritto in sede giudiziaria;</li>
                        <li>ti sei opposto a un trattamento fondato su un nostro legittimo interesse. In attesa della verifica della prevalenza dei nostri motivi legittimi rispetto a quelli che fanno capo a te in qualità di interessato, puoi chiederci la limitazione di trattamento.</li>
                    </ul>
                </li>
                <li><strong>Diritto di revoca del consenso:</strong> Puoi revocare il tuo consenso in relazione a tutti i trattamenti che si fondano su di esso, accedendo al <a class="a-link" href="[link configuratore cookie]">configuratore cookie</a>.</li>
                <li><strong>Diritto alla portabilità dei dati:</strong> Nel caso in cui trattiamo i tuoi dati sulla base del tuo consenso o in esecuzione di un contratto, oppure il trattamento sia effettuato con mezzi automatizzati, puoi esercitare il diritto alla portabilità dei dati. Potrai quindi ricevere i dati personali che ci hai comunicato in un formato strutturato, di uso comune e leggibile da un dispositivo automatico. Potrai anche richiedere di trasmettere i tuoi dati direttamente ad un’altra società, purché ciò sia tecnicamente possibile.</li>
                <li><strong>Diritto di opposizione:</strong> Hai il diritto di opporti in qualsiasi momento al trattamento dei tuoi dati personali basati su di un nostro legittimo interesse, compresa la profilazione.</li>
            </ul>
            <p class="paragraph">Ti informiamo inoltre che, se ritieni che il trattamento dei dati personali che ti riguardano si svolga in contrasto con le disposizioni del Regolamento EU 2016/679 hai il diritto di proporre reclamo alla competente autorità di controllo in materia di protezione dei dati.</p>
            <p class="paragraph">Periodicamente ci riserviamo di rivedere il contenuto di questa pagina. Ti invitiamo a consultare regolarmente questa informativa in modo da rimanere sempre aggiornato.</p>
            <p class="paragraph-small"><em>Ultimo aggiornamento: Luglio 2024</em></p>
        </div>
    </div>
</div>




<style>
    .wrapper-container {
        width: 100%;
        height: auto;
        display: block;
        padding: 1rem;
    }

    .section-container {
        margin: 100px 0px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 2rem;
    }

    .container-heading {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 1rem;
    }

    .container-paragraph {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 1rem;
    }

    ul {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 1rem;
    }

    .a-link {
        color: var(--primary-text-color);
        text-decoration: none;
        font-size: 17px;
        line-height: 27px;
        border-bottom: 1px solid #1a1a1a;
    }

    .paragraph-small {
        font-size: 17px;
        line-height: 27px;
    }

    @media screen and (min-width:640px) {
        .section-container {
            display: flex;
        justify-content: center;
        align-items: center;
    }
        .wrapper-container{
            padding: 1.5rem;
        }
        .section-container {
            margin: 90px 0px;
            padding: 0rem 1.5rem;
        }
        .container-heading {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    }

    @media screen and (min-width:1024px) {
        .wrapper-container{
            padding: 2rem;
        }
        .section-container {
            margin: 80px 0px;
            padding: 0rem 4rem;
        }
    }

    @media screen and (min-width:1280px) {
        .section-container {
            margin: 90px 0px;
            padding: 0rem 10rem;
        }
    }

    @media screen and (min-width:1440px) {
        .section-container {
            margin: 100px 0px;
            padding: 0rem 20rem;
        }
    }
</style>