<!-- hero wrapper -->
<div class="hero-wrapper">
  <div class="hero-wrapper-background">
    <img src="{{ section.settings.hero_background_img | img_url: 'master'}}" alt="alghero">
  </div>
  <div class="hero-wrapper-content">
    <div class="hero-heading-content">
      <h1 class="hero-heading">{{ section.settings.hero_heading }}</h1>
    </div>
  </div>
</div>
<!-- hero wrapper -->


{% schema %}
  {
    "name": "hero",
    "settings": [
      {
        "type": "text",
        "id": "hero_heading",
        "label": "hero heading here",
        "default": "type your hero heading here"
      }, {
        "type": "image_picker",
        "id": "hero_background_img",
        "label": "hero background here"
      }
    ]
  }
{% endschema %}