<div class="loading-wrapper">
    <div class="loading-wrapper-logo">
        <img src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/podereguardiagrande-logo.svg?v=1714828147" alt="loading-logo" class="loading-logo">
    </div>
</div>

<div class="nav-overlay-wrap">
    <div class="nav-top">
        <a href="index.html" class="content-logo">

            <img src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/podereguardiagrande-logo.svg?v=1714828147" alt="podere" class="logo">
        </a>
        <div class="menu-icon-mobile">
            <svg class="icon-menu-mobile" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>

        </div>
    </div>
    <div class="nav-center-menu">
        <div class="content-nav-link">
            <div class="nav-link-special-content"><a href="" class="nav-link-special">HOME</a></div>
        </div>
        <div class="content-nav-link">
            <div class="nav-link-special-content"><a href="pages/podere" class="nav-link-special">PODERE</a></div>
        </div>
        <div class="content-nav-link">
            <div class="nav-link-special-content"><a href="pages/vini" class="nav-link-special">VINI</a></div>
        </div>
        <div class="content-nav-link">
            <div class="nav-link-special-content"><a href="pages/contatti" class="nav-link-special">CONTATTI</a>
            </div>
        </div>
    </div>
    <div class="nav-bottom">
        <a class="nav-email-link" href="mailto:info@podereguardiagrande.it">info@podereguardiagrande.it</a>
    </div>
</div>



<!--nav wrapper-->
<header>
    <div class="navbar">
        <a href="index.html" class="content-logo">

            <img src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/podereguardiagrande-logo.svg?v=1714828147" alt="podere" class="logo">
        </a>
        <p class="nav-text">Cantine in Alghero</p>
        <ul class="nav-menu">
            <li><a href="" class="nav-link">HOME</a></li>
            <li><a href="pages/podere" class="nav-link">PODERE</a></li>
            <li><a href="pages/vini" class="nav-link">VINI</a></li>
            <li><a href="pages/contatti" class="nav-link">CONTATTI</a></li>
        </ul>
        <div class="menu-icon show-menu">
            <svg class="icon-menu" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 9h16.5m-16.5 6.75h16.5" />
            </svg>

        </div>
    </div>
</header>
<!--nav wrapper-->