<div class="wrapper-container">
    <div class="section-container">
        <div class="container-heading">
            <h1 class="policy-heading">Privacy Policy</h1>
        </div>
        <div class="container-paragraph">
            <p class="paragraph">Quando visiti questo sito web raccogliamo alcuni dati personali che ti riguardano.
                Questa informativa descrive le tipologie di dati trattati, scopi e modalità delle attività di
                trattamento, nonché i diritti che ti spettano in qualità di “Interessato”. Ti invitiamo pertanto a
                leggerla con attenzione.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">TITOLARE DEL TRATTAMENTO</h2>
            <p class="paragraph">Il Titolare del Trattamento è Agribel S.r.l., con sede legale in Avio (TN), Via del
                Lavoro n. 18. Il Titolare può essere contattato all’indirizzo <a class="a-link"
                    href="mailto:data.protection@calzedonia.com">data.protection@calzedonia.com</a>.
                <strong>ATTENZIONE!</strong> In questo sito sono presenti social buttons (ovvero pulsanti con icone di
                social network) come Instagram e Facebook. Questi pulsanti ti consentono di interagire con il social
                network di tuo interesse, di cui ti invitiamo a consultare la relativa Privacy e Cookie Policy.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">FINALITÀ, TIPOLOGIE DI DATI TRATTATI, BASE GIURIDICA E TEMPI DI
                CONSERVAZIONE</h2>
            <p class="paragraph">Per consentire il corretto funzionamento di questo sito, raccogliamo indirizzi IP, nomi
                a dominio, URI. Tali dati vengono acquisiti dai sistemi informatici preposti al funzionamento della
                pagina web. La base giuridica di tale trattamento consiste nel dover prestare i servizi necessari per
                consentire la navigazione di questo sito e il nostro Legittimo Interesse nel garantire il corretto
                funzionamento dei sistemi informatici. Conserveremo i dati per 30 giorni, eccetto che la legge e i
                provvedimenti di Autorità Pubbliche dispongano diversamente per la persecuzione dei reati informatici.
            </p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">RICHIESTE DI CONTATTO</h2>
            <p class="paragraph">Qualora volessi contattarci, tratteremo i dati contenuti nella tua richiesta e i tuoi
                dati di contatto per fornirti un riscontro ed inviarti le informazioni necessarie. La base giuridica di
                tale trattamento è l’esecuzione di misure precontrattuali adottate su tua richiesta. Tratteremo i tuoi
                dati per il tempo necessario a fornirti assistenza o dar seguito a quanto da te domandato.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">TRASFERIMENTO DEI DATI</h2>
            <p class="paragraph">I dati personali raccolti potranno essere trasferiti al di fuori dell’Unione Europea.
                In tal caso, il trasferimento avverrà nel rispetto delle disposizioni del Regolamento UE 2016/679
                (“GDPR”), in particolare in presenza delle garanzie adeguate previste per legge.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">DIRITTI PRIVACY</h2>
            <p class="paragraph">Puoi esercitare i diritti che il GDPR ti garantisce riguardo i tuoi dati personali
                scrivendo a <a class="a-link"
                    href="mailto:data.protection@calzedonia.com">data.protection@calzedonia.com</a>. Ci impegniamo a
                dare riscontro alla tua richiesta nel più breve tempo possibile e comunque non oltre il termine di 30
                giorni dal ricevimento della tua segnalazione. In taluni casi, potremo richiederti informazioni
                aggiuntive qualora, in relazione alla tua richiesta, si renda necessario verificare la tua identità. In
                particolare, puoi esercitare i seguenti diritti:</p>
            <ul>
                <li><strong>Diritto di accesso</strong>, ossia il diritto di sapere se è in corso un trattamento di dati
                    personali che ti riguardano e, se confermato, di ottenere una copia di tali dati ed essere informato
                    su: l’origine dei dati, le categorie di dati personali trattate, i destinatari dei dati, le finalità
                    del trattamento, l’esistenza di un processo decisionale automatizzato (compresa la profilazione), il
                    periodo di conservazione dei dati, i diritti previsti dal GDPR;</li>
                <li><strong>Diritto di ottenere la rettifica</strong> o l’integrazione dei tuoi dati. Ti ricordiamo che,
                    quando ci comunichi i tuoi dati per utilizzare i nostri servizi, ne garantisci la veridicità ed
                    esattezza. Aiutaci a garantire che i tuoi dati siano sempre esatti comunicandoci eventuali
                    aggiornamenti all’indirizzo <a class="a-link"
                        href="mailto:data.protection@calzedonia.com">data.protection@calzedonia.com</a>;</li>
                <li><strong>Diritto di ottenere la cancellazione</strong> dei dati personali qualora tali dati non
                    fossero più necessari per le finalità per le quali sono stati raccolti, o qualora non fossimo più
                    autorizzati a trattarli;</li>
                <li><strong>Diritto di ottenere la limitazione</strong> del trattamento dei dati personali nei seguenti
                    casi: i) hai contestato l’esattezza dei dati personali. Puoi richiedere una limitazione del
                    trattamento per il periodo necessario a verificare l’esattezza dei dati; ii) non siamo più
                    autorizzati a trattare i dati, e invece di cancellarli, puoi chiederci di limitarne l’utilizzo; iii)
                    qualora i dati personali in nostro possesso, nonostante non siano più necessari per le finalità per
                    le quali sono stati raccolti, siano per te necessari per l’accertamento, l’esercizio o la difesa di
                    un diritto in sede giudiziaria;</li>
                <li><strong>Diritto alla portabilità</strong> dei dati, ossia il diritto di ricevere in un formato
                    strutturato, di uso comune e leggibile da dispositivo automatico i dati personali che ti riguardano,
                    nonché il diritto di chiedere che tali dati siano trasmessi ad un altro Titolare;</li>
                <li><strong>Diritto di revocare il consenso</strong>, per i trattamenti che si fondano su di esso;</li>
                <li><strong>Diritto di opporti</strong> in qualsiasi momento al trattamento dei tuoi dati personali
                    basato su di un nostro legittimo interesse.</li>
            </ul>
            <p class="paragraph">Hai altresì il diritto di proporre reclamo alla competente autorità di controllo in
                materia di protezione dei dati qualora ritenessi che il trattamento dei tuoi dati avvenga in contrasto
                con le disposizioni del GDPR. Periodicamente ci riserviamo di rivedere il contenuto di questa pagina. Ti
                invitiamo a consultare regolarmente questa informativa in modo da rimanere sempre aggiornato.</p>
            <p class="paragraph-small"><em>Ultimo aggiornamento: Luglio 2024</em></p>
        </div>
        <style>
            .wrapper-container {
                width: 100%;
                height: auto;
                display: block;
                padding: var(--base-wrap-padd);
            }

            .section-container {
                margin: 60px 0px;
                padding: 0rem 1rem;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                row-gap: 2rem;
            }

            .container-heading {
                display: flex;
                place-items: center;
                margin-bottom: 1rem;
            }

            .container-paragraph {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                row-gap: 1rem;
            }

            ul {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                flex-direction: column;
                row-gap: 1rem;
            }

            .a-link {
                color: var(--primary-text-color);
                text-decoration: none;
                font-size: 17px;
                line-height: 27px;
                border-bottom: 1px solid #1a1a1a;
            }

            .paragraph-small {
                font-size: 17px;
                line-height: 27px;
            }

            @media screen and (min-width:640px) {
                .section-container {
                    margin: 70px 0px;
                    padding: 0rem 1.5rem;
                }
            }

            @media screen and (min-width:1024px) {
                .section-container {
                    margin: 80px 0px;
                    padding: 0rem 4rem;
                }
            }

            @media screen and (min-width:1280px) {
                .section-container {
                    margin: 90px 0px;
                    padding: 0rem 10rem;
                }
            }

            @media screen and (min-width:1440px) {
                .section-container {
                    margin: 100px 0px;
                    padding: 0rem 20rem;
                }
            }
        </style>