{% if shop.locale == 'it' %}
<div class="wrapper-container">
    <div class="section-container">
        <div class="container-heading">
            <h1 class="policy-heading" style="line-height: 52px;">Privacy Policy</h1>
        </div>
        <div class="container-paragraph">
            <p class="paragraph">Quando visiti questo sito web raccogliamo alcuni dati personali che ti riguardano.
                Questa informativa descrive le tipologie di dati trattati, scopi e modalità delle attività di
                trattamento, nonché i diritti che ti spettano in qualità di “Interessato”. Ti invitiamo pertanto a
                leggerla con attenzione.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">TITOLARE DEL TRATTAMENTO</h2>
            <p class="paragraph">Il Titolare del Trattamento è Agribel S.r.l., con sede legale in Avio (TN), Via del
                Lavoro n. 18. Il Titolare può essere contattato all’indirizzo <a class="a-link"
                    href="mailto:data.protection@calzedonia.com">data.protection@calzedonia.com</a>.
                <strong>ATTENZIONE!</strong> In questo sito sono presenti social buttons (ovvero pulsanti con icone di
                social network) come Instagram e Facebook. Questi pulsanti ti consentono di interagire con il social
                network di tuo interesse, di cui ti invitiamo a consultare la relativa Privacy e Cookie Policy.
            </p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">FINALITÀ, TIPOLOGIE DI DATI TRATTATI, BASE GIURIDICA E TEMPI DI
                CONSERVAZIONE</h2>
            <div class="container-paragraph-child">
                <h3 class="heading-h3-medium">Navigazione sito web</h3>
                <p class="paragraph">Per consentire il corretto funzionamento di questo sito, raccogliamo indirizzi IP,
                    nomi
                    a dominio, URI. Tali dati vengono acquisiti dai sistemi informatici preposti al funzionamento della
                    pagina web. La base giuridica di tale trattamento consiste nel dover prestare i servizi necessari
                    per
                    consentire la navigazione di questo sito e il nostro Legittimo Interesse nel garantire il corretto
                    funzionamento dei sistemi informatici. Conserveremo i dati per 30 giorni, eccetto che la legge e i
                    provvedimenti di Autorità Pubbliche dispongano diversamente per la persecuzione dei reati
                    informatici.
                </p>
            </div>
            <div class="container-paragraph-child">
                <h3 class="heading-h3-medium">Richieste di contatto</h3>
                <p class="paragraph">Qualora volessi contattarci, tratteremo i dati contenuti nella tua richiesta e i
                    tuoi
                    dati di contatto per fornirti un riscontro ed inviarti le informazioni necessarie. La base giuridica
                    di
                    tale trattamento è l’esecuzione di misure precontrattuali adottate su tua richiesta. Tratteremo i
                    tuoi
                    dati per il tempo necessario a fornirti assistenza o dar seguito a quanto da te domandato.</p>
            </div>
        </div>



        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">DESTINATARI DEI DATI</h2>
            <p class="paragraph">Per raggiungere le finalità di cui sopra, abbiamo la necessità di comunicare i tuoi
                dati a queste categorie di soggetti:</p>
            <ul>
                <li>-<strong>personale</strong> di Agribel S.r.l.;</li>
                <li>-<strong>fornitori</strong> di Agribel S.r.l. (es. fornitori di servizi e piattaforme IT,
                    consulenti) che accedono ai tuoi dati in qualità di responsabili del trattamento nominati attraverso
                    la sottoscrizione di uno specifico contratto.</li>
            </ul>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">TRASFERIMENTO DEI DATI</h2>
            <p class="paragraph">I dati personali raccolti potranno essere trasferiti al di fuori dell’Unione Europea.
                In tal caso, il trasferimento avverrà nel rispetto delle disposizioni del Regolamento UE 2016/679
                (“GDPR”), in particolare in presenza delle garanzie adeguate previste per legge.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">DIRITTI PRIVACY</h2>
            <p class="paragraph">Puoi esercitare i diritti che il GDPR ti garantisce riguardo i tuoi dati personali
                scrivendo a <a class="a-link"
                    href="mailto:data.protection@calzedonia.com">data.protection@calzedonia.com</a>. Ci impegniamo a
                dare riscontro alla tua richiesta nel più breve tempo possibile e comunque non oltre il termine di 30
                giorni dal ricevimento della tua segnalazione. In taluni casi, potremo richiederti informazioni
                aggiuntive qualora, in relazione alla tua richiesta, si renda necessario verificare la tua identità. In
                particolare, puoi esercitare i seguenti diritti:</p>
            <ul>
                <li><strong>Diritto di accesso</strong>, ossia il diritto di sapere se è in corso un trattamento di dati
                    personali che ti riguardano e, se confermato, di ottenere una copia di tali dati ed essere informato
                    su: l’origine dei dati, le categorie di dati personali trattate, i destinatari dei dati, le finalità
                    del trattamento, l’esistenza di un processo decisionale automatizzato (compresa la profilazione), il
                    periodo di conservazione dei dati, i diritti previsti dal GDPR;</li>
                <li><strong>Diritto di ottenere la rettifica</strong> o l’integrazione dei tuoi dati. Ti ricordiamo che,
                    quando ci comunichi i tuoi dati per utilizzare i nostri servizi, ne garantisci la veridicità ed
                    esattezza. Aiutaci a garantire che i tuoi dati siano sempre esatti comunicandoci eventuali
                    aggiornamenti all’indirizzo <a class="a-link"
                        href="mailto:data.protection@calzedonia.com">data.protection@calzedonia.com</a>;</li>
                <li><strong>Diritto di ottenere la cancellazione</strong> dei dati personali qualora tali dati non
                    fossero più necessari per le finalità per le quali sono stati raccolti, o qualora non fossimo più
                    autorizzati a trattarli;</li>
                <li><strong>Diritto di ottenere la limitazione</strong> del trattamento dei dati personali nei seguenti
                    casi: i) hai contestato l’esattezza dei dati personali. Puoi richiedere una limitazione del
                    trattamento per il periodo necessario a verificare l’esattezza dei dati; ii) non siamo più
                    autorizzati a trattare i dati, e invece di cancellarli, puoi chiederci di limitarne l’utilizzo; iii)
                    qualora i dati personali in nostro possesso, nonostante non siano più necessari per le finalità per
                    le quali sono stati raccolti, siano per te necessari per l’accertamento, l’esercizio o la difesa di
                    un diritto in sede giudiziaria;</li>
                <li><strong>Diritto alla portabilità</strong> dei dati, ossia il diritto di ricevere in un formato
                    strutturato, di uso comune e leggibile da dispositivo automatico i dati personali che ti riguardano,
                    nonché il diritto di chiedere che tali dati siano trasmessi ad un altro Titolare;</li>
                <li><strong>Diritto di revocare il consenso</strong>, per i trattamenti che si fondano su di esso;</li>
                <li><strong>Diritto di opporti</strong> in qualsiasi momento al trattamento dei tuoi dati personali
                    basato su di un nostro legittimo interesse.</li>
            </ul>
            <p class="paragraph">Hai altresì il diritto di proporre reclamo alla competente autorità di controllo in
                materia di protezione dei dati qualora ritenessi che il trattamento dei tuoi dati avvenga in contrasto
                con le disposizioni del GDPR. Periodicamente ci riserviamo di rivedere il contenuto di questa pagina. Ti
                invitiamo a consultare regolarmente questa informativa in modo da rimanere sempre aggiornato.</p>
            <p class="paragraph-small"><em>Ultimo aggiornamento: Luglio 2024</em></p>
        </div>
    </div>
</div>
{% elsif shop.locale == 'en' %}
<div class="wrapper-container">
    <div class="section-container">
        <div class="container-heading">
            <h1 class="policy-heading" style="line-height: 52px;">Privacy Policy</h1>
        </div>
        <div class="container-paragraph">
            <p class="paragraph">When you visit this website, we collect some personal data about you. This policy
                describes the types of data processed, the purposes and methods of processing activities, as well as
                your rights as a “Data Subject.” Please read it carefully.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">DATA CONTROLLER</h2>
            <p class="paragraph">The Data Controller is Agribel S.r.l., located in Avio (TN), Via del Lavoro n. 18. The
                Controller can be contacted at <a class="a-link"
                    href="mailto:data.protection@calzedonia.com">data.protection@calzedonia.com</a>.</p>
            <p class="paragraph"><strong>ATTENTION!</strong> This site contains social buttons (icons of social
                networks) such as Instagram and Facebook. These buttons allow you to interact with your chosen social
                network, whose Privacy and Cookie Policy we invite you to read.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">PURPOSES, TYPES OF DATA PROCESSED, LEGAL BASIS, AND RETENTION PERIODS</h2>
            <div class="container-paragraph-child">
                <h3 class="heading-h3-medium">Website Navigation</h3>
                <p class="paragraph">To ensure the proper functioning of this site, we collect IP addresses, domain
                    names,
                    and URIs. These data are acquired by computer systems required for the operation of the webpage. The
                    legal basis for this processing is the necessity to provide the services required for site
                    navigation
                    and our Legitimate Interest in ensuring the correct operation of IT systems. We will retain the data
                    for
                    30 days, unless otherwise required by law or public authorities for the prosecution of cyber crimes.
                </p>
            </div>
            <div class="container-paragraph-child">
                <h3 class="heading-h3-medium">Contact Requests</h3>
                <p class="paragraph">If you wish to contact us, we will process the data contained in your request and
                    your
                    contact details to provide feedback and send you the necessary information. The legal basis for this
                    processing is the execution of pre-contractual measures requested by you. We will process your data
                    for
                    the time necessary to provide assistance or follow up on your request.</p>
            </div>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">DATA RECIPIENTS</h2>

            <p class="paragraph">To achieve the above purposes, we need to communicate your data to these categories of
                subjects:</p>
            <ul>
                <li>-Agribel S.r.l. staff;</li>
                <li>-Suppliers of Agribel S.r.l. (e.g., IT services and platform providers, consultants) who access your
                    data as Data Processors.</li>
            </ul>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">DATA TRANSFER</h2>
            <p class="paragraph">Collected personal data may be transferred outside the European Union. In such cases,
                the transfer will comply with the provisions of EU Regulation 2016/679 (“GDPR”), and in particular with
                the adequate guarantees required by law.</p>
        </div>

        <div class="container-paragraph">
            <h2 class="heading-h2-secondary">PRIVACY RIGHTS</h2>
            <p class="paragraph">You can exercise the rights granted by the GDPR regarding your personal data by writing
                to <a class="a-link" href="mailto:data.protection@calzedonia.com">data.protection@calzedonia.com</a>. We
                commit to responding to your request as soon as possible, and in any case, no later than 30 days from
                receiving your report. In certain cases, we may ask for additional information if necessary to verify
                your identity in relation to your request. Specifically, you can exercise the following rights:</p>
            <ul>
                <li><strong>Right of access:</strong> the right to know whether personal data processing concerning you
                    is ongoing and, if confirmed, to obtain a copy of such data and be informed about the origin of the
                    data, categories of processed personal data, data recipients, purposes of processing, existence of
                    automated decision-making (including profiling), data retention period, rights provided by the GDPR.
                </li>
                <li><strong>Right to rectification or integration of your data:</strong> Remember that when you provide
                    us with your data to use our services, you guarantee its truthfulness and accuracy. Help us ensure
                    your data is always accurate by notifying us of updates at <a class="a-link"
                        href="mailto:data.protection@calzedonia.com">data.protection@calzedonia.com</a>.</li>
                <li><strong>Right to erasure of personal data:</strong> when such data is no longer necessary for the
                    purposes they were collected for, or when we are no longer authorized to process them.</li>
                <li><strong>Right to restrict processing:</strong> of personal data in the following cases:
                    <ul>
                        <li>i) you have contested the accuracy of the personal data. You may request a restriction on
                            processing for the time necessary to verify the accuracy of the data;</li>
                        <li>ii) we are no longer authorized to process the data, and instead of deleting them, you can
                            request limiting their use;</li>
                        <li>iii) when personal data in our possession, although no longer necessary for the purposes
                            they were collected, are needed by you to establish, exercise, or defend a legal claim.</li>
                    </ul>
                </li>
                <li><strong>Right to data portability:</strong> meaning the right to receive in a structured, commonly
                    used, and machine-readable format the personal data concerning you, and the right to request that
                    these data be transmitted to another controller.</li>
                <li><strong>Right to withdraw consent:</strong> for processing based on consent.</li>
                <li><strong>Right to object:</strong> at any time to the processing of your personal data based on our
                    legitimate interest.</li>
            </ul>
            <p class="paragraph">You also have the right to lodge a complaint with the competent data protection
                authority if you believe that the processing of your data is contrary to GDPR provisions. We
                periodically reserve the right to review the content of this page. We invite you to regularly check this
                notice to stay updated.</p>
            <p class="paragraph-small"><em>Last update: July 2024</em></p>
        </div>
    </div>
</div>

{% endif %}


<style>
    /*one trust banner settings*/
    #onetrust-consent-sdk .onetrust-pc-dark-filter {
        display: none !important;
    }

    #onetrust-consent-sdk #onetrust-banner-sdk {
        display: none !important;
    }

    .wrapper-container {
        width: 100%;
        height: auto;
        display: block;
        padding: 1rem;
    }

    .section-container {
        margin: 100px 0px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 2rem;
    }

    .container-heading {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 1rem;
    }

    .container-paragraph {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 1rem;
    }

    ul {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        row-gap: 1rem;
    }

    .a-link {
        color: var(--primary-text-color);
        text-decoration: none;
        font-size: 17px;
        line-height: 27px;
        border-bottom: 1px solid #1a1a1a;
    }

    .paragraph-small {
        font-size: 17px;
        line-height: 27px;
    }

    @media screen and (min-width:640px) {
        .section-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .wrapper-container {
            padding: 1.5rem;
        }

        .section-container {
            margin: 90px 0px;
            padding: 0rem 1.5rem;
        }

        .container-heading {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    @media screen and (min-width:1024px) {
        .wrapper-container {
            padding: 2rem;
        }

        .section-container {
            margin: 80px 0px;
            padding: 0rem 4rem;
        }
    }

    @media screen and (min-width:1280px) {
        .section-container {
            margin: 90px 0px;
            padding: 0rem 10rem;
        }
    }

    @media screen and (min-width:1440px) {
        .section-container {
            margin: 100px 0px;
            padding: 0rem 20rem;
        }
    }
</style>