<!-- section wrap slider -->
<div class="wrapper-section section-slider-margin">
  <div class="swiper mySwiper" id="slider-section">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="https://cdn.shopify.com/s/files/1/0838/0281/6860/files/A0A1885_WEB.jpg?v=1739884574"
          alt=""
          class="slider-img">
      </div>
      <div class="swiper-slide">
        <img
          src="https://cdn.shopify.com/s/files/1/0838/0281/6860/files/A0A0064_WEB.jpg?v=1739884572"
          alt=""
          class="slider-img">
      </div>
      <div class="swiper-slide">
        <img
          src="https://cdn.shopify.com/s/files/1/0838/0281/6860/files/A0A1739_WEB.jpg?v=1739884574"
          alt=""
          class="slider-img">
      </div>
      <div class="swiper-slide">
        <img
          src="https://cdn.shopify.com/s/files/1/0838/0281/6860/files/A0A2078_WEB.jpg?v=1739884572"
          alt=""
          class="slider-img">
      </div>
      <div class="swiper-slide">
        <img
          src="https://cdn.shopify.com/s/files/1/0838/0281/6860/files/A0A0042_WEB.jpg?v=1739884573"
          alt=""
          class="slider-img">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<!-- section wrap slider -->

{% style %}
  .section-slider-margin {
    margin-bottom: {{ section.settings.section_margin }}px;
  }

  @media screen and (max-width: 768px) {
    .section-slider-margin {
      margin-bottom: {{ section.settings.section_margin_tablet }}px
    }
  }

  @media screen and (max-width: 480px) {
    .section-slider-margin {
      margin-bottom: {{ section.settings.section_margin_mobile }}px
    }
  }
{% endstyle %}


{% schema %}
  {
    "name": "slider",
    "settings": [
      {

        "type": "range",
        "id": "section_margin",
        "label": "margin section",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }, {

        "type": "range",
        "id": "section_margin_tablet",
        "label": "margin section tablet",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }, {

        "type": "range",
        "id": "section_margin_mobile",
        "label": "margin section mobile",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }
    ]
  }
{% endschema %}