<!-- section wrap slider -->
<div class="wrapper-section section-slider-margin">
  <div class="swiper mySwiper" id="slider-section">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/home-slider-1_28bd87f6-87d7-43b4-b2e1-5621c100ab72.jpg?v=1714831136"
          alt=""
          class="slider-img">
      </div>
      <div class="swiper-slide">
        <img
          src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/home-slider-2.jpg?v=1714828148"
          alt=""
          class="slider-img">
      </div>
      <div class="swiper-slide">
        <img
          src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/home-slider-3.jpg?v=1714828149"
          alt=""
          class="slider-img">
      </div>
      <div class="swiper-slide">
        <img
          src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/home-slider-4.jpg?v=1714828153"
          alt=""
          class="slider-img">
      </div>
      <div class="swiper-slide">
        <img
          src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/home-slider-5.jpg?v=1714828148"
          alt=""
          class="slider-img">
      </div>
      <div class="swiper-slide">
        <img
          src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/home-slider-6.jpg?v=1714828152"
          alt=""
          class="slider-img">
      </div>
      <div class="swiper-slide">
        <img
          src="https://cdn.shopify.com/s/files/1/0874/6015/1590/files/home-slider-7.jpg?v=1714828147"
          alt=""
          class="slider-img">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<!-- section wrap slider -->

{% style %}
  .section-slider-margin {
    margin-bottom: {{ section.settings.section_margin }}px;
  }

  @media screen and (max-width: 768px) {
    .section-slider-margin {
      margin-bottom: {{ section.settings.section_margin_tablet }}px
    }
  }

  @media screen and (max-width: 480px) {
    .section-slider-margin {
      margin-bottom: {{ section.settings.section_margin_mobile }}px
    }
  }
{% endstyle %}


{% schema %}
  {
    "name": "slider",
    "settings": [
      {

        "type": "range",
        "id": "section_margin",
        "label": "margin section",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }, {

        "type": "range",
        "id": "section_margin_tablet",
        "label": "margin section tablet",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }, {

        "type": "range",
        "id": "section_margin_mobile",
        "label": "margin section mobile",
        "default": 0,
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1

      }
    ]
  }
{% endschema %}