/*general settings start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'Fulmar-Reg';
    src: url('https://cdn.shopify.com/s/files/1/0874/6015/1590/files/Fulmar-Regular.woff?v=1714828190');
}

@font-face {
    font-family: 'Fulmar-Light';
    src: url('https://cdn.shopify.com/s/files/1/0874/6015/1590/files/Fulmar-Light.woff?v=1714828190');
}

@font-face {
    font-family: 'SempioneGrotesk-light';
    src: url('https://cdn.shopify.com/s/files/1/0874/6015/1590/files/SempioneGrotesk-Light.woff?v=1714828190');
}

@font-face {
    font-family: 'SempioneGrotesk-Reg';
    src: url('https://cdn.shopify.com/s/files/1/0874/6015/1590/files/SempioneGrotesk-Medium.woff?v=1714828191');
}


@font-face {
    font-family: 'SempioneGrotesk-Medium';
    src: url('https://cdn.shopify.com/s/files/1/0874/6015/1590/files/SempioneGrotesk-Medium.woff?v=1714828191');
}

:root {
    --primary-bg-color: #FFFCF5;
    --primary-text-color: #1a1a1a;
    --secondary-text-color: #ffff;
    --h1-font-size: 42px;
    --h1-line-height: 52px;
    --h2-font-size: 32px;
    --h2-line-height: 42px;
    --base-font-size: 21px;
    --base-line-height: 31px;
    --base-text-witdh: 60ch;
    --base-font-weight: 300;
    --base-wrap-padd: 2rem;
    --base-row-gap: 2rem;
    /*laptop above*/
    --h1-laptop-font-size: 38px;
    --h1-laptop-line-height: 48px;
    --h2-laptop-font-size: 30px;
    --h2-laptop-line-height: 40px;
    --base-latop-font-size: 24px;
    --base-laptop-line-height: 34px;
    --base-laptop-wrap-padd: 1.5rem;
    --base-latptoprow-gap: 1.5rem;
    /*mobile above*/
    --h1-mobile-font-size: 31px;
    --h1-mobile-line-height: 41px;
    --h2-mobile-font-size: 28px;
    --h2-mobile-line-height: 38px;
    --base-mobile-font-size: 21px;
    --base-mobile-line-height: 31px;
    --base-mobile-wrap-padd: 1.3rem;
    --base-mobile-row-gap: 1.3rem;

}

body {
    font-family: 'SempioneGrotesk-light';
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.heading-h2 {
    font-family: 'Fulmar-Reg';
    font-weight: var(--base-font-weight);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);
}

.heading-h2-secondary {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.heading-h2.light {
    font-family: 'Fulmar-Light';
}

.heading-h3 {
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    font-weight: 300;
}

.heading-h4 {
    font-size: calc(var(--base-font-size) - 3);
    line-height: calc(var(--base-font-size) - 3);
    color: #CECCC6;
    font-weight: 300;
}

.hero-heading {
    font-family: 'Fulmar-Reg';
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    color: var(--secondary-text-color);
    font-weight: var(--base-font-weight);
}

.paragraph {
    text-align: left;
}

.content-primary-button {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: .8rem;
    border-bottom: 1px solid var(--primary-text-color);
}


.content-button-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: auto;
    padding: .2rem 0rem;
    overflow: hidden;
    width: 15px;
    height: 15px;
}

.content-button-text {
    padding: .2rem 0rem;
}

.button-link-text {
    font-size: 17px;
    line-height: 27px;
    text-decoration: none;
    color: var(--primary-text-color);
}

.container-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 1rem;
    width: 30px;
    height: 15px;
    transition: all ease .3s;
}

.arrow-icon {
    width: 15;
    height: 15px;
}

.arrow-icon.rotate {
    transform: rotate(180deg);
}

/*navbar settings*/
/* navbar mobile and landscape */
.nav-overlay-wrap {
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg-color);
    position: fixed;
    left: 0;
    top: -500%;
    right: 0;
    z-index: 99999999;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    transition: all ease 1s;
}

.nav-center-menu {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-top {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.nav-bottom {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.nav-center-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 1rem;
}

.nav-email-link {
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--primary-text-color);
}


.nav-link-special {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--primary-text-color);
}

.nav-link-container {
    overflow: hidden;
}

.nav-link-special-content {
    transition: all ease-in-out .5s;
    transform: translateY(-100%);
}

.content-nav-link {
    overflow: hidden;
}

.icon-menu-mobile {
    width: 30px;
    height: 30px;
    color: var(--primary-text-color);
}


/* page loading wrapper settings */
.loading-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999999999;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-bg-color);
    transition: all linear 2s;
}

.loading-wrapper-logo {
    width: 200px;
    height: 200px;
    opacity: 0;
    transition: all ease-in .5s;
}

.loading-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* navbar settings */
.navbar {
    width: 100%;
    height: auto;
    padding: 0.3rem 2rem;
    display: flex;
    background-color: var(--primary-bg-color);
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
}

.Sticky-nav {
    position: sticky;
    top: 0%;
    z-index: 9999999999999;
}

.nav-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    line-height: 25px;
    font-family: 'SempioneGrotesk-Medium';
}

.content-logo {
    width: 80px;
    height: 59px;
    cursor: pointer;
}


.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.nav-menu {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 1rem;
}

.show-menu {
    display: none;
}

li {
    list-style: none;
}

.icon-menu {
    width: 30px;
    height: 30px;
    color: var(--primary-text-color);
}

.nav-link {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1px;
}


/* hero wrapper settings*/
.hero-wrapper {
    width: 100%;
    height: 100vh;
    min-height: 100vh !important;
    display: block;
    position: relative;
}

.hero-wrapper-background,
.hero-wrapper-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.hero-wrapper-background {
    z-index: 0;
    filter: brightness(60%);
}

.hero-wrapper-background>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.hero-wrapper-content {
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: var(--base-wrap-padd);
}

.hero-heading-content {
    width: 60ch;
    min-width: 60ch;
    height: auto;
}

/* wrapper column text-w-image settings*/
.wrapper-section {
    width: 100%;
    height: auto;
    display: block;
    padding: var(--base-wrap-padd);
}

.wrapper-contents {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
}

.content-text,
.container-img {
    flex: 1;
    padding: var(--base-wrap-padd);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: var(--base-row-gap);
}

/*slider settings*/

.swiper-slide {
    overflow: hidden;
}

.mySwiper {
    width: 100%;
    height: 90vh;
    min-height: 90vh;
}

.slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease .3s;
}

.slider-img:hover {
    transform: scale(1.2);
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    opacity: .6 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--primary-bg-color) !important;
}

/*wrapper quote sectio settings*/

.container-center-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: var(--base-text-witdh);
    min-width: var(--base-text-witdh);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: var(--base-row-gap);
}

/* wine rendering section settings*/

.wine-content {
    height: auto;
    place-items: center;
}

.wrap-wine-content {
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--base-row-gap);
    flex-wrap: wrap;
}

.wine-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: .8rem;
}

.w-margin {
    margin: .8rem;
    align-items: flex-start;
}

.wine-container-img {
    width: 100%;
    height: 600px;
    min-height: 600px;
    overflow: hidden;
    cursor: pointer;
}

.image-wine {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all ease .3s;
}

.wine-container-img:hover .image-wine {
    scale: 1.2;
}

.wine-simbol {
    width: 200px;
    height: 240px;
}

.wine-heading {
    font-weight: 700;
}


.wine-img {
    width: auto;
    height: 80vh;
    object-fit: cover;
}

.wine-logo {
    width: auto;
    height: 30px;
    min-height: 30px;
    object-fit: contain;
}


/*wrapper section parallax img settings*/
.container-img.relative {
    align-items: center;
    position: relative;
}



.absolute-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 350px;
    height: 234px;
    object-fit: cover;
}

.static-img {
    width: 250px;
    height: 134px;
    object-fit: contain;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.container-img.relative.flex-top {
    justify-content: flex-start;
    align-items: flex-start;
}

/*section top page settings */
.top-page-wrap {
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.top-page-wrap-contact {
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.content-text.absolute {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 60ch;
    min-width: 60ch;
    height: auto;
    height: 100%;
}

.top-page-img {
    height: 100%;
    width: 70%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    transform: translateX(20%);
    object-fit: cover;
}

/*page product settings*/
.wrapper-section.no-padd {
    padding: 0;
}

.top-page-wrap-product {
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.top-page-img-product {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
}

.top-page-img-contact {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
}

.w-flex-start {
    align-items: flex-start;
    justify-content: flex-start;
}

.block-content-text {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: .8rem;
}

.paragraph-wine {
    font-size: 17px;
    line-height: 27px;
}

.bold {
    font-weight: 700;
}

.w-margin-top {
    margin-top: 2rem;
}

.container-img-wine {
    flex: 1;
    padding: var(--base-wrap-padd);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: var(--base-row-gap);
}

.content-img-wine {
    width: 100%;
    height: auto;
}

.container-wine-overview {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: var(--base-row-gap);
}

.is-wine-revert {
    flex-direction: row-reverse;
}

.content-link-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 1rem;
}

.link-to-wine {
    line-height: 27px;
    font-size: 17px;
    text-decoration: none;
    color: var(--primary-text-color);
    padding: .5rem;
    border: 1px solid var(--primary-text-color);
    transition: all ease .3s;
    cursor: pointer;
}

.link-to-wine:hover {
    color: var(--secondary-text-color);
    background-color: var(--primary-text-color);
}

/*footer settings*/
.content-block {
    flex: 1;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: var(--base-row-gap);
}

.content.w-border> :last-child {
    align-items: flex-end;
}

.block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: .5rem;
}

.nav-menu.footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: .5rem;
}

.content-block.align-top {
    justify-content: flex-start;
}

.content-social-icon {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    column-gap: .5rem;
}

.footer-text,
.footer-link {
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    color: var(--primary-text-color);
}

.social-icon {
    width: 15px;
    height: 15px;
}

.content-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content-featured-img {
    width: 400px;
    height: 100%;
    object-fit: cover;
}

/*language switcher*/
.dropup {
    position: relative;
    cursor: pointer;
    width: auto;
    height: auto;
}

.localeBtn {
    background-color: transparent;
    color: var(--primary-text-color);
    border: 1px solid var(--primary-text-color);
    padding: 20px 30px;
    font-size: 17px;
    cursor: pointer;
}

.dropup-content {
    display: none;
    position: absolute;
    left: -75px;
    min-width: 110px;
    height: auto;
    z-index: 1;
    background-color: #f1f1f1;
}

.dropup:hover .dropup-content {
    display: inline-block;
}

.dropup-content a {
    color: #1a1a1a;
    font-size: 16px;
    padding: 15px 10px;
    display: block;
    text-align: center;
    text-decoration: none;
}

.dropup-content a:hover {
    background-color: #f3f3f3;
}

/*winetour page*/
.container-img.row {
    justify-content: flex-start;
    overflow: scroll;
    position: relative;
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 1rem;
    height: 420px;
    position: relative;
}

.image {
    object-fit: cover;
    height: 100%;
    max-height: 100%;
}

.details-icon {
    width: 25px;
    height: 25px;
}

.tour-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
}

.tour-image.contain {
    object-fit: contain;
}

.content-text.flex-start {
    justify-content: flex-start;
    position: sticky;
    top: 10%;
    height: fit-content;
}

.content-text-block.w-flex-start {

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 1.5rem;

}

.content-details-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;
}

.content-details-body {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 1rem;
}

.details-content {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: .5rem;

}

.addinional-container {
    width: 270px;
    height: 270px;
    position: absolute;
    bottom: -25%;
    left: 55%;
    transform: translateX(-50%);
    z-index: 2;
}

.addinional-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.paragraph.small {
    font-size: 17px;
    line-height: 27px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    /*nav settings*/
    .nav-link-special {
        font-size: 35px;
        line-height: 45px;
    }

    .show-menu {
        display: flex;
    }

    .navbar {
        padding: 0.3rem 1rem;
    }

    .nav-text,
    .nav-menu {
        display: none;
    }

    .logo-mobile {
        width: 100px;
        height: 100px;
    }

    .icon-menu {
        width: 25px;
        height: 25px;
    }

    /*hero settings*/
    .hero-wrapper-content {
        padding: var(--base-mobile-wrap-padd);
    }

    .hero-heading-content {
        width: 100%;
        min-width: 100%;
    }

    .hero-heading {
        font-size: var(--h1-mobile-font-size);
        line-height: var(--h1-mobile-line-height);
    }

    /*wrapper columns settings*/
    .wrapper-section {
        padding: var(--base-mobile-wrap-padd);
    }

    .wrapper-contents {
        row-gap: var(--base-mobile-row-gap);
    }

    .content {
        flex-direction: column-reverse;
        row-gap: var(--base-mobile-row-gap);
    }

    .content.is-revert {
        flex-direction: column;
    }

    .content-text,
    .container-img {
        padding: 0;
    }

    .container-img {
        height: auto;
    }

    .content-img {
        height: 500px;
        min-height: 500px;
    }

    /*settings swiper*/
    .mySwiper {
        height: 500px;
        min-height: 500px;
        object-fit: cover;
    }

    /*container center text*/
    .container-center-text {
        width: 100%;
        min-width: 100%;
    }

    /* wrap wines*/
    .wrap-wine-content {
        padding: 0;
        row-gap: var(--base-mobile-row-gap);
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .wine-img {
        width: 100%;
    }

    /*container-img-relative*/
    .content-featured-img {
        width: 100%;
        height: 500px;
        min-height: 500px;
    }

    .absolute-img {
        width: 270px;
        height: auto;
    }

    /*footer*/
    .content.w-border {
        flex-direction: column;
        padding-top: 1rem;
        border-top: 1px solid gray;
    }

    .content-block {
        row-gap: var(--base-mobile-row-gap);
    }

    .content.w-border> :last-child {
        align-items: flex-start;
    }

    /*podere template*/
    .content.is-revert.podere {
        flex-direction: column-reverse;
    }

    .content.podere {
        flex-direction: column;
    }

    .container-img.podere {
        height: 70vh;
        min-height: 70vh;
        overflow: hidden;
    }

    .content-img.podere {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    /*vini template*/
    .top-page-img.vini {
        display: none;
    }

    .content-text.content-text.absolute {
        width: 100%;
        min-width: 100%;
    }

    .w-margin {
        margin: 0;
    }

    /*vino template*/
    .container-img-wine {
        padding: 0;
    }

    .content.wine {
        flex-direction: column;
    }

    .content-img.wine {
        height: auto;
        min-height: auto;
    }

    /*winetour*/
    .content-text.flex-start {
        position: static;
    }

    .addinional-container {
        position: static;
        transform: none;
    }

    .tour-image:nth-of-type(1),
    .tour-image:nth-of-type(2) {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /*nav settings*/
    .nav-text {
        display: none;
    }

    /*hero-wrapper*/
    .hero-wrapper {
        margin-bottom: 70px;
    }

    .hero-wrapper-content {
        padding: var(--base-laptop-wrap-padd);
    }


    /*column settings*/
    .content-text {
        padding: 0;
    }

    .wrapper-contents {
        row-gap: var(--base-latptoprow-gap);
    }

    .wrapper-section {
        padding: var(--base-laptop-wrap-padd);
        margin-top: 2rem;
    }

    /*settings swiper*/
    .mySwiper {
        height: 570px;
        min-height: 570px;
        object-fit: cover;
    }

    .wrap-wine-content {
        flex-direction: column;
        flex-wrap: nowrap;
        row-gap: var(--base-latptoprow-gap);
    }

    /*wine containers*/
    .wrap-wine-content {
        padding: 0;
    }

    /*container-img-relative*/
    .content.featured {
        flex-direction: column;
    }

    .container-img.relative.featured {
        align-items: flex-end;
    }

    .content-featured-img {
        width: 50%;
        height: 500px;
        min-height: 500px;
    }

    .absolute-img {
        width: 270px;
        height: auto;
    }

    /*podere template*/
    .content.podere.featured {
        flex-direction: column;
    }

    .container-img.relative.flex-top.pod {
        padding: 0;
    }

    .container-img.podere {
        display: none;
    }

    .content-img.featured {
        width: 60%;
    }

    /*vini template*/
    .top-page-img.vini {
        display: none;
    }

    /*footer*/
    .content.w-border {
        flex-wrap: wrap;
        row-gap: var(--base-latptoprow-gap);
    }

    .content-block {
        flex: 1 1 50%;
    }

    .content.w-border>:last-child {
        align-items: flex-start;
    }

    /*wintetour template*/
    .content.winetour {
        flex-direction: column-reverse;
        row-gap: var(--base-latptoprow-gap);
    }

    .content-text.flex-start {
        position: static;
    }

    .container-img.winetour {
        padding: 0;
        flex-direction: row;
        column-gap: var(--base-latptoprow-gap);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: scroll;
    }

    .tour-image {
        height: 320px;
        width: 400px;
        min-width: 400px;
        object-fit: cover;
    }

    .addinional-container {
        width: 150px;
        height: 150px;
        bottom: 10%;
    }
}